<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
	<h1>Submit a Post</h1>
	<form action='/' method='post' class="submit_form">
		<input placeholder='Name' name='name'>
		<input placeholder='Post' name='content'>
		<input type='submit' value='Submit'>
	</form>
	<div class="history_posts">
		<h1>All Posts</h1>
		{% for post in all_posts %}
		<p> {{ post[1] +': '+  post[2] }} </p>
		{% endfor %}
	</div>
</body>
</html>
