<!DOCTYPE html>
<html lang="en">
<head>
     <link rel=stylesheet href="{{ url_for('static', filename='css/home.css') }}">
    <meta charset="UTF-8">
    <title>Disney++</title>
</head>
<body>

<div class="content">
    {% for photo in photos %}
    <a href = "{{ url_for('objectpage', name = photo.split('/')[1].split('.jpeg')[0]) }}">
         <li>
             <img src={{url_for('static', filename=photo)}}>
             <p> {{ photo.split('/')[1].split('.jpeg')[0] }} </p>
         </li>
    </a>
    {% endfor %}
</div>

</body>
</html>